$gray-light: #9198a0;
$gray-medium: #636d76;
$gray-dark: #444b51;

$yellow-gold: #d4ca97;

$black-text: #50585a;
$white-text: #fefcfc;
$gray-text: #d7e0e0;

$white-background: #ffffff;
$gray-border: #484f59;
$gray-border-light: #dfdfdf;